@inherits RazorTemplates.Core.TemplateBase<TheDrillBookCloud.Lib.Email.Models.PasswordRecoveryEmailTemplateModel>
@using System.Web
@using System.Web.Mvc;
@using TheDrillBookCloud.Lib
@using TheDrillBookCloud.Lib.Email.Templates.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body style="font-size: 14px; margin: 0px; background: #ffffff; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333; padding: 0px;">
    <table cellspacing="0" border="0" cellpadding="10" width="100%">
        <tr>
            <td align="center" valign="top" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" bgcolor="#FFFFFF">

                <table cellspacing="0" border="0" cellpadding="0" width="620">
                    <tr>
                        <td align="left" valign="top" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" bgcolor="#da2626">
                            <table cellspacing="20" border="0" cellpadding="0" width="620">
                                <tr>
                                    <td align="left" valign="bottom" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <font color="#FFFFFF" size="4">TheDrillBook.Com</font>
                                    </td>
                                    <td align="right" valign="bottom" style="width: 200px;">
                                       &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-size: 14px; border-bottom: 1px solid #86919d; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; border-right: 1px solid #86919d; color: #333; border-left: 1px solid #86919d;" bgcolor="#FFFFFF">
                            <table cellspacing="0" border="0" cellpadding="0" width="618">
                                <tr>
                                    <td bgcolor="#edeff0" style="font-size: 14px; border-bottom: 1px solid #d7d8d9; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <table cellspacing="0" border="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                                    <table cellspacing="0" border="0" cellpadding="20" width="100%">
                                                        <tr>
                                                            <td>
                                                                Hello @Model.UserName,<br /><br />
                                                                    According to our records, you have requested that your password be reset.
                                                                    <br />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; border-bottom: 1px solid #d7d8d9; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <table cellspacing="20" border="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td align="left" valign="top" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" colspan="2">
                                                    Please click the following link to continue the password recovery process. <br /><br />                                                    
                                                    @{
                                                        var base_url = ClsGlobalscs.WebsiteURL + "/auth/ResetPassword.aspx";
                                                        var url_iu = "?iu=" + System.Web.HttpUtility.UrlEncode(Cryptography.Encrypt(Model.UserID.ToString(), ClsGlobalscs.Encryption_Password));
                                                        var url_ic = "&ic=" + System.Web.HttpUtility.UrlEncode(Cryptography.Encrypt(DateTime.UtcNow.Date.ToString(), ClsGlobalscs.Encryption_Password));
                                                        var url = base_url + url_iu + url_ic;    
                                                    }           
                                                    @Html.Raw(url)
                                                    <br /><br />
                                                   If you have any questions or trouble logging on please contact us at <a href="mailto:admin@thedrillbook.com"> admin@thedrillbook.com </a>
                                                    <br/>
                                                    <br/>
                                                    <strong>- The DrillBook Team </strong>
                                                    <br/>
                                                    <br/>
													You can also change your password once logged in by clicking on the nameplate in your locker and the link 'Change Password'<br/><br />

                                                    Don't forget to install the application on your iPhone or Android device<br>
                                                    <br />
                                                    <br />
                                                    <a href="https://itunes.apple.com/ca/app/thedrillbook/id587026109?mt=8&uo=4" target="itunes_store">
                                                        <img alt="Get it on the Apple Store" src="https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png" /></a>
                                                    <a href="https://play.google.com/store/apps/details?id=com.parallax.thedrillbook" target="_blank">
                                                        <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" /></a><br/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="20" bgcolor="#edeff0">
                                            <tr>
                                                <td>
                                                    <a href="http://www.thedrillbook.com">
                                                        <img alt="logo" src="http://www.thedrillbook.com/img/tdb_logo.png" style="float:right;"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>